.texto {
	font-size: 20px;
}

.entrada {
	padding: 9px 15px;
	font-size: 17px;
}

.botao {
	padding: 12px 35px;
}

.tabela {
	border-collapse: collapse;
	width: 20%;
}

.tabela, .coluna-cabecalho, .tabela-coluna {
	border: 1px solid;
}

.tabela-coluna {
	width: 50%;
	padding: 8px 6px;
}