.texto {
	font-size: 20px;
}

.entrada {
	padding: 9px 15px;
	font-size: 17px;
}

.botao {
	padding: 12px 35px;
}

.tabela {
	border-collapse: collapse;
	width: 20%;
}

.tabela, .coluna-cabecalho, .tabela-coluna {
	border: 1px solid;
}

.coluna-cabecalho {
	padding: 8px 6px;
	background-color: #ADFF2F;
}

.tabela-espaco {
	padding: 13px 0;
	background-color: #DCDCDC;
}

.tabela-coluna {
	width: 50%;
	padding: 8px 6px;
	background-color: #FFFAFA;
}

.tabela-resposta {
	text-align: center;
}

.tabela-rodape {
	text-align: center;
	padding: 8px 6px;
	background-color: #ADFF2F;
}